/* 引入字体图标库 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* 版心 */
.w {
  margin: 0 auto;
  width: 1200px;
}
/* 左浮动 */
.fl {
  float: left;
}
/* 右浮动 */
.fr {
  float: right;
}
.style_red {
  color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
  height: 30px;
  background-color: #f1f1f1;
  line-height: 30px;
}
.shortcut ul li {
  text-decoration: none;
  float: left;
}
/* 选择所有偶数的小li */
.shortcut .fr ul li:nth-child(2n) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 15px 0;
}
.arrow-icon::after {
  content: "\e91e";
  font-family: "icomoon";
  margin-left: 6px;
}

/* header头部模块 */
.header {
  height: 105px;
  position: relative;
}
.logo {
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
}
.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png) no-repeat;
  /* font-size: 0; 京东做法 */
  /* 淘宝的做法 隐藏文字 */
  text-indent: -9999em;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 25px;
  left: 346px;
  height: 36px;
  width: 538px;
  border: 2px solid #b1191a;
}
.search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
}
.search button {
  float: left;
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  font-size: 16px;
  color: #fff;
}

.hotwords{
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a{
    margin: 0 10px;
}

.shopcar{
    position: absolute;
    top: 25px;
    right: 60px;
    height: 36px;
    width: 140px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 36px;
    text-align: center;
}
.shopcar::before{
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: #b1191a;
}
.shopcar::after{
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
}
.count{
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
}

/* nav 导航模块 */
.nav{
    border-bottom: 2px solid #b1191a;
    height: 47px;
}
.nav .dropdown{
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.dropdown .dt{
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.dropdown .dd{
    height: 465px;
    width: 210px;
    margin-top: 2px;
    background-color: #c81623;
}
.dropdown .dd ul li{
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
}
.dropdown .dd ul li:hover{
    background-color: #fff;
}
.dropdown .dd ul li a{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
}
.dropdown .dd ul li:hover a{
    color: #c81623;
}
.dropdown .dd ul li::after{
    position: absolute;
    right: 10px;
    content: '\e920';
    font-family: 'icomoon';
    color: #fff;
    font-size: 14px;
}
.nav .navitems{
    float: left;
    margin-left: 16px;
}
.navitems ul li{
    float: left;
}
.navitems ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 26px;
}


/* footer底部模块的制作 */
.footer{
    height: 416px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
/* 219px */
.mod_service{
    height: 88px;
    /* background-color: pink; */
    border-bottom: 1px solid #ccc;
}
.mod_service ul li{
    float: left;
    width: 219px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5{
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -253px -2px;
    float: left;
    margin-right: 8px;
}
.service_text h4{
    font-size: 14px;
}
.service_text p{
    font-size: 12px;
}
.mod_help{
    height: 190px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl{
    float: left;
    width: 200px;
}
.mod_help dl:last-child{
    width: 90px;
    text-align: center;
}
.mod_help dl dt{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.mod_help dl dd{
    font-size: 12px;
}

.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-bottom: 15px;
}
.links a{
    margin: 0 15px;
}
.copyright{
    line-height: 20px;
}